<?xml version="1.0" encoding="UTF-8"?>
<!--
    Spring MVC configuration file containing database information, Hibernate
    mapping resources, and the controllers
    Class: CT406
    Date: 11/29/17
    Authors: Jeffrey Trotz & William Varner
    Version: 1.0
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
    <bean id="factory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.DerbyDialect</prop>
                <prop key="hibernate.connection.driver_class">org.apache.derby.jdbc.ClientDriver</prop>
                <prop key="hibernate.connection.url">jdbc:derby://localhost:1527/Database</prop>
                <prop key="hibernate.connection.username">app</prop>
                <prop key="hibernate.connection.password">app</prop>
            </props>
        </property>
        <property name="mappingResources">
            <list>
                <value>objectMapping/Student.hbm.xml</value>
            </list>
        </property>
    </bean>
    <bean id="createAccount" class="dataAccessObjects.CreateAccountImplementation">
        <property name="sessionFactory" ref="factory" />
    </bean> 
    <bean id="login" class="dataAccessObjects.LoginImplementation">
        <property name="sessionFactory" ref="factory" />
    </bean> 
</beans>