body { 
    background-color: #4F94CD;
    text-align: center;
}
.bg-1 { 
    background-color: #4F94CD; 
    color: #ffffff;
}
.bg-2 { 
    background-color: #474e5d; 
    color: #ffffff;
}
.bg-3 { 
    background-color: #ffffff;
    color: #555555;
}

form {
    border: 3px solid #000000;
    border-radius: 25px;
    border-color: #ffffff;
    margin: 12px;
    padding: .3em 1em;
    width: 250px;
    text-align: center;
}